{% extends 'layout.twig' %}
{#Block override the default one#}
{% block body %}
    {{ parent() }}
    Name:<input id="input">
    <button onclick="createTournament(document.getElementById('input').value)">Create Tournament</button><br>

    <br>
{% endblock body %}

{% block list %}
    {{ parent() }}
    <ul>
        {% for tournament in tournaments %}
            <li id="{{ tournament.id }}">
                ID:{{ tournament.id }},
                <input value='{{ tournament.name }}' onkeypress="return event.charCode !== 44" disabled="true">
                <button name="Edit" onclick="window.location = 'http://localhost:3000/tournament/{{ tournament.id }}';">Show</button>
                <br>
            </li>
        {% else %}
            <li><em>no tournament found</em></li>
        {% endfor %}
    </ul>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="/javascripts/AJAXtournament.js"></script>
{% endblock body %}
